<script>
    /*
    * Copyright (joint work) 2026 The Rockstor Project <https://rockstor.com>
    *
    * Rockstor is free software; you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published
    * by the Free Software Foundation; either version 2 of the License,
    * or (at your option) any later version.
    *
    * Rockstor is distributed in the hope that it will be useful, but
    * WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    * General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program. If not, see <http://www.gnu.org/licenses/>.
    *
    */
</script>

<div class="widgets-container"></div>

<div id="dashboard-config-popup" class="modal hide fade">
  <div id="dashboard-config-content">
    <div class="row">
      <div class="col-md-12">
        <h3>Select Dashboard widgets</h3>
      </div>
    </div>
  </div>
</div>

<!-- One off first login message -->
<div class="modal fade" id="update-version-modal">
  <div class="modal-dialog justify-content-center">
    <div class="modal-content">
      <div class="modal-body">
        <h2 id="update-version-modal-label">Welcome to the Rockstor Web User Interface (Web-UI)</h2>
        <p>
          Activating a Rockstor package
          <a href="http://rockstor.com/docs/update-channels/update_channels.html" target="_blank">Update Channel</a>
          and updating is recommended, but not required. A reminder will be presented on each Dashboard visit.
          <em> Please be patient during these updates as they can take some time.</em>
        </p>
        <strong>This selection does not affect our upstream 'Built on openSUSE' updates.</strong>
        <br>
        <strong><a href="https://rockstor.com/about-us.html" target="_blank">We</a>
          are a <i>non-profit</i> community endeavour fiscally hosted by
          <a href="https://opensourceeurope.org/" target="_blank"> Open Source Europe (OSE).</a>
        </strong>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Dismiss</button>
        <a id="updateYes" class="btn btn-primary" title="Update">More information</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Displayed upon visiting the Dashboard if no Update Channel is selected -->
<div class="modal fade" id="update-channel-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2 id="update-channel-modal-label">Select a Rockstor package
          <a href="http://rockstor.com/docs/update-channels/update_channels.html" target="_blank">Update Channel</a>
        </h2>
        <p>
          <br>- <strong>Stable updates</strong>: Intended for production use (free - <i>donation requested</i>).
          <br>- <strong>Testing updates</strong>: Field-testing towards future Stable releases (free).
          <br>- <strong>Edge updates</strong>: Untested releases - developers only (free).
        </p>
        <strong><a href="https://rockstor.com/about-us.html" target="_blank">We</a>
          are a <i>non-profit</i> community endeavour fiscally hosted by
          <a href="https://opensourceeurope.org/" target="_blank"> Open Source Europe (OSE).</a>
        </strong>
        <br>
        <i>See our
          <a href="https://opencollective.com/the-rockstor-project" target="_blank">OPEN COLLECTIVE</a>
          for donation options.</i>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Dismiss</button>
        <a id="activate" class="btn btn-primary" title="Update">More information</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
