<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
</div>
<div class="alert alert-info">
  <p>Shares provide storage for the Rock-on;
  so the selected Share's owner:group must match any provided "(user/UID:group/GID)" in the matched mouse-over <i class="fa fa-info-circle"></i> info pop-up.
  Or similar UID & GID entry request later-on in this wizard.</p>
  <p><i>Visit STORAGE -> Shares ->  <a href="#add_share">Create Share</a> if the required Share/s do not already exist.</i>
  <p>The square brackets [] contain Share name suggestions.</p>
  <p>Use each Share's <strong>Access control (tab) & Edit (button)</strong> to view & set owner:group and permissions before completing this install.</p>
</div>

<div id="ph-vols-table"></div>
