<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
<div class="alert alert-info">
  <p>Please verify and 'Submit' your input to start the installation.</p>
  <p><i>Be sure that all listed/mapped Share 'Resources' have had their <strong>Access control (tab)</strong> set accordingly.</i></p>
  <p><i>If unsure, close this wizard, check the relevant owner:group & permissions, and restart this Rock-on install.</i></p>
  <p>See also each mouse-over <i class="fa fa-info-circle"></i> info pop-up.</p>
</div>

<div id="ph-summary-table"></div>
